<section class="section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col text-center title">
                <h1>Contact</h1>
                <hr class="gradientUno">
            </div>
        </div> 
        <form action="https://formspree.io/f/meqdopej" method="post">
            <div class="row">
                <div class="col-3">
                    <label for="email">Your email:</label>
                    <input type="email" id="email" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="mensaje">Your message:</label>
                    <textarea name="mensaje" id="mensaje" cols="80" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
    <div class="redes text-center">
        <a href="https://www.linkedin.com/in/eiriselias/">
            <img id="linkedin" src="./assets/logos/linkedinMiniLogo.png" alt="logoLikedin">
        </a>
        <a href="https://github.com/eiriselias">
            <img id="gitHub" src="./assets/logos/gitHubMiniLogo.png" alt="logoGitHub">
        </a>
    </div>
    <div class="footer">
        <p>Developed and designed by Eiris Salazar. ©2022. All rights reserved.</p>
    </div>
</section>