<section class="section" id="portafolio">
    <div class="container">
        <div class="row">
            <div class="col text-center title">
                <h1>Portafolio</h1>
                <hr class="gradientUno"> 
            </div>
        </div>    
        <div class="row">
            <div class="col">                
                    <img src="./assets/variedadeStelias.png" alt="pagina variedadeStelias" 
                    width="400px" height="200px"
                    type="button" data-bs-toggle="modal" data-bs-target="#variedadeStelias">
            </div>
            <div class="col">                
                    <img src="./assets/reponsive.png" alt="pagina reponsive" 
                    width="400px" height="200px"
                    type="button" data-bs-toggle="modal" data-bs-target="#responsiveWeb">
                
            </div>
        </div>
    </div>    
</section>


<div class="modal fade" id="variedadeStelias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">VariedadeStelias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <video controls autoplay muted width="450px" height="250px">
                    <source src="./assets/video/variedadeStelias.mp4">
                </video>
                <p align="justify">Este es mi proyecto, el cual fue realizado en un modo 
                    individual, este consta en el desarrollo de una web la cual puede llevar una base de datos de 
                    productos, la cual es alimentada por medio de un formulario, se pueden ver los productos 
                    ya existentes, ademas se puede reabastecer productos próximos a agotarse, puede filtrar los 
                    que están en mayor posibilidad de agotamiento, además tiene una sección de venta donde podemos 
                    seleccionar los productos he irlos agregando al carro de ventas, al finalizar nos enviara a una 
                    ventana de historial de ventas donde podemos ver las ventas anteriormente realizadas.
                    Espero les guste. :)
                </p>
                <p>
                    proyecto hecho en:
                    Angular, Boostrap, Firebase, Typescript, Html.
                </p>    
                <a href="https://lnkd.in/evK4sD-q">REPOSITORIO </a> <hr>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="https://eiriselias.github.io/variedadeStelias"><span type="button" class="btn btn-primary">Visitar</span></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="responsiveWeb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Responsive Web</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <video controls autoplay muted width="450px" height="250px">
                    <source src="./assets/video/responsive.mp4">
                </video>
                <p align="justify">
                    Utilizando los lenguajes Html y Less, se aplico el modelo de responsavilidad para tres tamaños 
                    de pantallas, teniendo en cuenta que se diseño en el tamaño pc se insertaron metodos responsivos 
                    para dos tipos de tamaña.
                </p>
                <p align="justify"><span>pantalla modo table</span>: se implemento un tamaño determinado al tener una pantalla de un tamaño 
                    maximo de 800 px.
                </p>
                <p align="justify"><span>pantalla modo phone</span>: en este caso se implemento ingresar a este modo cuando la pantalla es con 
                    un tamaño maximo de 500 px.
                </p>  
                <p align="justify">cabe resaltar que los tamaños superiores a los antes ya mensionados se tomaron como pantalla 
                    en modalidad de escritorio.
                </p>
                <p>
                    proyecto hecho en:
                    React, Css, Html, Less.
                </p>    
                <a href="https://github.com/eiriselias/responsiveWeb">REPOSITORIO </a> <hr>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="https://eiriselias.github.io/responsiveWeb"><span type="button" class="btn btn-primary">Visitar</span></a>
            </div>
        </div>
    </div>
</div>