.home{
    width:100vw;
    height: 80vh;
}

.video{
    width: 100vw;
    height: 80vh;
    object-fit: fill;
    position: absolute;
}

.col img{
    width: 150 px;
    height: 150px;
    background-color:white;
    border-radius: 50%;
    margin-top: 100px;
}

.fondo .container{
    position: absolute;
}

h1, h2{
    color: white;
}
