/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
html , body{
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(227, 224, 255);
}

.title{
    padding: 5rem;
    text-transform: uppercase;
}

hr{
    border: 0;
    height: .2rem;
    width: 100%;
}

.gradientUno{
    background-image: linear-gradient(90deg,transparent,#00bdd6,transparent);
}

.gradientDos{
    background-image: linear-gradient(20deg,transparent,#ffffff,transparent);
}