<section class="section" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col text-center title">
                <h1>Skillset</h1>
                <hr class="gradientUno">
            </div>
        </div>
        <div class="row">
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoAngular.png" alt="Logo angular">
                <span class="tip">Angular</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoJavaScript.png" alt="Logo javaScript">
                <span class="tip">JavaScript</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoTypeScript.png" alt="Logo typeScript">
                <span class="tip">TypeScript</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoNodeJs.png" alt="logoNodeJs">
                <span class="tip">NodeJs</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoFirebase.png" alt="logoFirebase">
                <span class="tip">Firebase</span>
            </div>
        </div>
        <div class="row my-5">
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoHtml.png" alt="logoHtml">
                <span class="tip">Html</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoCss.png" alt="logoCss">
                <span class="tip">Css</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoGit.png" alt="logoGit">
                <span class="tip">Git</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoGitHub.png" alt="logoGitHub">
                <span class="tip">GitHub</span>
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="./assets/logos/logoBash.png" alt="logoBash">
                <span class="tip">Bash</span>
            </div>
        </div>       
    </div>
</section>
