<section class="section" id="skillset">
    <div class="container">
        <div class="row">
            <div class="col text-center title">
                <h1>Skillset</h1>
                <hr class="gradientUno">
            </div>
        </div>
        <div class="row">
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoAngular.png" alt="Logo angular">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoJavaScript.png" alt="Logo javaScript">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoTypeScript.png" alt="Logo typeScript">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoNodeJs.png" alt="logoNodeJs">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoFirebase.png" alt="logoFirebase">
            </div>
        </div>
        <div class="row my-5">
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoHtml.png" alt="logoHtml">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoCss.png" alt="logoCss">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoGit.png" alt="logoGit">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoGitHub.png" alt="logoGitHub">
            </div>
            <div class="col logo">
                <img width="120px" height="120px" src="../../../assets/logos/logoBash.png" alt="logoBash">
            </div>
        </div>       
    </div>
</section>
